*{
    padding: 0;
    margin: 0;
}

input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: aqua;
    color: black;
    font-size: 1.2rem;
}

label{
    color: black;
    font-size: 1.2rem;
    border-radius: 10px;
}

body{
    background-image: url(./download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    /* border: 2px solid white; */
    width: 700px;
    height: 500px;
    margin: auto;
    margin-top: 150px;
}
.content{
    height: 430px;
    width: 530px;
    margin: 32px 85px;
    /* border: 2px solid white; */
}

.content h2{
    color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.content .input1{
    margin-top: 30px;
    margin-left: 40px;
}

.content .input2{
    margin-top: 30px;
    margin-left: 40px;
}
.content .input3{
    margin-top: 30px;
    margin-left: 40px;
}

.btn{
    width: 140px;
    height: 40px;
    border: none;
    transition: 1s all ease;
    border: 2px solid white;
    color: white;
    font-size: 1.1rem;
    margin: 80px 55px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
}

.btn:hover{
    border: 2px solid aqua;
    color: aqua;
    scale: 1.2;
}

.output
{
    color: white;
    padding: 10px 20px;
}